<div style="text-align: right;">
<a  asp-controller="Login" asp-action="Index" ><button class="btn btn-danger">Cerrar sesión</button></a>
</div>
<h2>Gestion de Usuarios</h2><br>
<div class="container">
    <div class="row">
        <div class="col-md-7" style=" display: flex;  justify-content: space-between;">
            <input type="search" id="searchInput" name="searchInput" class=" focus"  placeholder="Buscar...">
        <a asp-controller="Usuarios" asp-action="Create"> <button class="btn btn-primary" style="background-color: rgb(5, 231, 5);">crear usuario</button></a>
        </div>
    </div>
    <div class="row mt-5">
    <div class="col-md-7">
            <div style="overflow-y: auto; max-height: 300px;">
    <table class="table">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Documento</th>
        <th>Número de Contacto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Juan</td>
        <td>Pérez</td>
        <td>30</td>
        <td>12345678</td>
        <td>555-123-4567</td>
        </tr>
        <tr>
        <td>Carlos</td>
        <td>González</td>
        <td>28</td>
        <td>12345678A</td>
        <td>555-123-4567</td>
        </tr>
        <tr>
        <td>Marta</td>
        <td>López</td>
        <td>35</td>
        <td>87654321B</td>
        <td>555-987-6543</td>
        </tr>
        <tr>
        <td>Pablo</td>
        <td>Ruiz</td>
        <td>42</td>
        <td>13579246C</td>
        <td>555-555-5555</td>
        </tr>
        <tr>
        <td>Laura</td>
        <td>Martínez</td>
        <td>31</td>
        <td>98765432D</td>
        <td>555-111-2222</td>
        </tr>
        <tr>
        <td>David</td>
        <td>Rodríguez</td>
        <td>40</td>
        <td>54321678E</td>
        <td>555-333-4444</td>
        </tr>
        <tr>
        <td>Sofía</td>
        <td>Hernández</td>
        <td>27</td>
        <td>24681357F</td>
        <td>555-555-6666</td>
        </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-5" style="border: 1px solid black; height: 464px; margin-top:  -100px;">
        <div><center>
            <img class="img img-fluid mt-3" width="130px" src="https://cdn.pixabay.com/photo/2022/04/13/12/14/man-7130170_1280.jpg" alt="">
            </center>
            <p style="text-align: center;">Nombre : Deklan <br> Apellido : Beckett <br> Documento: 10029938 <br> Direccion: cll43-3 <br> contacto : 303847444<br> correo : deklan@deklan <br> genero : M <br> Documento : 303288282 <br> Contactos de referencia: 300293829 -21992838  </p>
            <p style="text-align: center;">Moroso:  <input type="checkbox"></p>
            <center>
            <div style="display: flex ; justify-content: space-between; width: 60%;">
                <a asp-controller="Usuarios" asp-action="Delete"> <button class="btn btn-danger">eliminar</button></a>
                <a asp-controller="Usuarios" asp-action="Update"><button class="btn btn-warning">Actualizar</button></a>
            </div>
            </center>
        </div>
    </div>
    </div>
</div>