<div class="row">
    <div class="col-md-3">
        <h2>Actualizar usuario</h2>
    </div>
    <div class="col-md-9" style="border: 2px solid black; display: flex;">
        <div style="margin: 30px;">
            <label for="">Nombre</label><br>
            <input type="text" id="nombre" name="nombre" placeholder="Deklan" required><br>
            <label for="">Apellido</label><br>
            <input type="text" id="apellido" name="apellido" placeholder="Beckett" required><br>
            <label for="">Correo</label><br>
            <input type="text" id="correo" name="correo" placeholder="deklan@deklan" required><br>
            <label for="">Genero</label><br>
            <input type="text" id="genero" name="genero" placeholder="M" required><br>
            <label for="">Contacto</label><br>
            <input type="number" id="contacto" name="contacto" placeholder="303847444" required><br>
            <label for="">Dirección</label><br>
            <input type="text" id="direccion" name="direccion" placeholder="cll43-3" required><br>
            <label for="">Documento</label><br>
            <input type="text" id="documento" name="documento" placeholder="10029938" required><br>
            <label for="">Contacto Referencia 1</label><br>
            <input type="number" id="contacto_referencia" name="contacto_referencia" placeholder="300293829" required><br>
            <label for="">Contacto Referencia 2</label><br>
            <input type="number" id="contacto_referencia2" name="contacto_referencia2" placeholder="21992838" required><br><br>
            
            <input type="hidden" id="usuario_id" name="usuario_id">
            <center>
            
            <a asp-controller="Usuarios" asp-action="Actualizar"><button class="btn btn-warning">Actualizar Usuario</button></a>
            </center>
        </div>
        <div style="margin-left: 100px;">
        
            <img class="img img-fluid mt-3" width="150" src="https://cdn.pixabay.com/photo/2022/04/13/12/14/man-7130170_1280.jpg" alt=""><br>
            <input type="file" name="imagen_usuario" id="imagen_usuario">
        </div>
    </div>
</div>