<div class="row">
    <div class="col-md-3">
        <h2>Ingresar Nuevo Libro</h2>
    </div>
    <div class="col-md-9" style="border: 2px solid black; display: flex;">
        <div style="margin: 30px;">
            <label for="">Título</label><br>
            <input type="text" id="nombre" name="nombre" required><br>
            <label for="">Autor</label><br>
            <input type="text" id="apellido" name="apellido" required><br>
            <label for="">Genero</label><br>
            <input type="text" id="correo" name="correo" required><br>
            <label for="">Editorial</label><br>
            <input type="text" id="genero" name="genero" placeholder="M" required><br>
            <label for="">Año Publicación</label><br>
            <input type="date" id="fecha" name="fecha"required><br>
            <label for="">Cantidad Copias</label><br>
            <input type="Number" id="genero" name="genero" required><br>
            <label for="">Idioma</label><br>
            <input type="text" id="genero" name="genero" required><br>
            <center>
            <a asp-controller="Libros" asp-action="Index"><button class="btn btn-primary">Crear Libro</button></a>
            </center>
        </div>
        <div style="margin-left: 100px;">
            <img class="img img-fluid mt-3" width="150" src="https://icones.pro/wp-content/uploads/2021/02/symbole-masculin-icone-l-utilisateur-gris.png" alt=""><br>
            <input type="file" name="" id="">
        </div>      
    </div>   
</div>