<div class="row">
    <div class="col-md-10" style="border: 3px solid black; height: 300px; background-color: rgb(131, 192, 131);" >
        <br><br><br><br>
        <h4 style="text-align: center;">Se ha eliminado con exito ✔️</h4><br><br><br>
        <center>
        <a  asp-controller="Libros" asp-action="Index"> <button class="btn btn-primary">Ver listado de Libros</button></a>
        </center>
    </div>
</div>