<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3><u>Detalles</u></h3>
        </div>
        <div class="col-md-4 d-flex gap-3 justify-content-end">
            <a class="btn btn-danger" asp-controller="Login" asp-action="Index">Cerrar Sesión</a>
        </div>
    </div>
    <div class="row mt-5" style="display: flex;">
        <div class="col-md-6">
            <div class="card p-2">
                <h4 class="text-center mt-4">El libro de la Seducción</h4>
                <div class="card-text d-flex mt-4">
                    <img src="https://m.media-amazon.com/images/I/51jI4VBQENL._SL500_.jpg" width="200px" alt="El libro de la seducción">
                    <p style="overflow-y: auto; height:200px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quam, neque vel iure debitis soluta at saepe, rem architecto quasi sunt tempora nostrum nemo facere doloribus laboriosam enim ullam aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia aut ipsum architecto! Ea tenetur minima asperiores ipsa illo animi, commodi quae? Provident quasi facilis maiores laborum minima nulla soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eveniet nostrum accusamus voluptas animi laborum distinctio, doloribus ad unde inventore ratione! Ex totam asperiores voluptatem dolorum facere, alias consequatur repellat?</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="d-flex justify-content-center"><u>Prestamos del Libro</u></h4>
            <div style="overflow-y: auto; max-height: 300px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Fecha Prestamo</th>
                            <th>Fecha Devolución</th>
                            <th>Multa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan</td>
                            <td>30</td>
                            <td>30/Enero/2022</td>
                            <td>05/Marzo/2022</td>
                            <td>0 días</td>
                        </tr>
                        <tr>
                            <td>Daniel</td>
                            <td>18</td>
                            <td>15/Marzo/2022</td>
                            <td>29/Marzo/2022</td>
                            <td>2 días</td>
                        </tr>
                        <tr>
                            <td>Marta</td>
                            <td>22</td>
                            <td>03/Abril/2022</td>
                            <td>10/Abril/2022</td>
                            <td>0 días</td>
                        </tr>
                        <tr>
                            <td>Pablo</td>
                            <td>25</td>
                            <td>15/Junio/2022</td>
                            <td>29/Junio/2022</td>
                            <td>7 días</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2 border border-primary">Robert Greene</div>
            <div class="p-2 border border-primary">Autoayuda/Relaciones</div>
            <div class="p-2 border border-primary">1901</div>
            <div class="p-2 border border-primary">4 copias</div>
            <div class="p-2 border border-primary">1901</div>
        </div>
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2 border border-primary">Buen Estado</div>
            <div class="p-2 border border-primary">Español/Inglés</div>
        </div>
    </div>
</div>